<%- include("layout", { body: `
  <div class='d-flex gap-3'>
    <a class='btn btn-secondary' href='/users'>Usuários</a>
    <a class='btn btn-secondary' href='/clients'>Clientes</a>
    <a class='btn btn-secondary' href='/vehicles'>Veículos</a>
    <a class='btn btn-secondary' href='/orders'>Ordens de Serviço</a>
  </div>
` }) %>
