<%- include("../layout", { body: `
  <h3>Cliente #${client.id}</h3>
  <ul class='list-group'>
    <li class='list-group-item'><b>Nome:</b> ${client.name}</li>
    <li class='list-group-item'><b>Telefone:</b> ${client.phone || "-"}</li>
    <li class='list-group-item'><b>Email:</b> ${client.email || "-"}</li>
  </ul>
  <a class='btn btn-secondary mt-3' href='/clients'>Voltar</a>
` }) %>
